<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonas Playground</title>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Jonas Playground</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hangman">Hangman</a></li>
        </ul>
    </nav>
    {% block content %}
    <!-- Content for each route -->
    {% endblock %}
</body>
</html>